xcoma/*
src/src.pri
src/src.pro.user

/ipch
/Debug
/XCOMA
/ufo.vcxproj.user
/ufo.sdf
/ufo.suo
/resources/test1.bmp
/resources/help
/resources/maps
/resources/rawsound
/resources/savegame
/resources/scenario
/resources/sound
/resources/tacdata
/resources/tacexe
/resources/ufodata
/resources/ufoexe
/resources/ufopaedi
/Release